<section class="py-16 bg-white lg:py-24 dark:bg-gray-800">
    <div class="px-4 mx-auto max-w-screen-xl lg:px-12">

        <!-- Section title -->
        <h2 class="mb-4 text-2xl font-bold text-gray-900 lg:font-extrabold lg:text-4xl lg:leading-snug dark:text-white lg:text-center 2xl:px-48">
            Preguntas y respuestas frecuentes
        </h2>

        <!-- Section subtitle -->
        <p class="mb-10 text-lg font-normal text-gray-500 dark:text-gray-400 lg:text-center lg:text-xl xl:px-32 lg:mb-16">
            Hemos preparado para usted un compendio de preguntas y respuestas relacionadas con nuestro Equipo, Productos y Servicios, puede revisarlas como primera opción ante cualquier duda.
        </p>

        <hr class="my-12 border-gray-200 dark:border-gray-700">

        <div class="grid gap-8 lg:grid-cols-3">
            <div>
                <div class="mb-10">
                    <h3 class="mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        ¿Tiene ATHENDAT personalidad jurídica?
                    </h3>
                    <p class="text-gray-600 dark:text-gray-400">
                        No, por el momento somos un equipo de trabajadores por cuenta propia (TCP).
                    </p>
                </div>
                <div class="mb-10">
                    <h3 class="mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        ¿Se pueden utilizar los productos en desarrollo?
                    </h3>
                    <p class="mb-4 text-gray-600 dark:text-gray-400">
                        Si, todos nuestros productos en proceso de desarrollo están disponibles al público y pueden ser utilizado de manera gratuita con la única condición de que el usuario deberá reportar los errores que encuentre.
                    </p>
                </div>
                <div class="mb-10">
                    <h3 class="mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        ¿Qué beneficio ofrece utilizar un producto en desarrollo?
                    </h3>
                    <p class="mb-4 text-gray-600 dark:text-gray-400">
                        Utilizar un producto en desarrollo y colaborar durante el proceso le ofrece la oportunidad de utilizar el mismo gratis por un año luego de concluida esta etapa.
                    </p>
                </div>
                <div class="mb-10">
                    <h3 class="mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        ¿Ofrece ATHENDAT otros servicios relacionados con las tecnologías de la información?
                    </h3>
                    <p class="mb-4 text-gray-600 dark:text-gray-400">
                        Si, nuestro equipo esta capacitado para acompañar a cualquier persona o negocio en el proceso de digitalización de su negocio, solo debe contactarnos por las vias publicadas en esta web o a traves de las rede sociales.
                    </p>
                </div>
            </div>
            <div>
                <div class="mb-10">
                    <h3 class="mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        ¿Necesito tener licencia de TCP o estar constituido como MIPYME para utilizar los products de ATHENDAT?
                    </h3>
                    <p class="mb-4 text-gray-600 dark:text-gray-400">
                        No, no es necesario que cuente con un permiso de trabajo o personalidad jurídica para utilizar nuestros products, eso si, puede que en algún caso no funcionen todas las característica.
                    </p>
                </div>
                <div class="mb-10">
                    <h3 class="mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        ¿Cual es el modelo de negocio de ATHENDAT?
                    </h3>
                    <p class="mb-4 text-gray-600 dark:text-gray-400">
                        El modelo de negocio de ATHENDAT se basa en la comercialización de softwares como servicios (SaaS).
                    </p>
                </div>
                <div class="mb-10">
                    <h3 class="mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        ¿Puedo auto hospedar las aplicaciones de ATHENDAT en mis propios servidores?
                    </h3>
                    <p class="mb-4 text-gray-600 dark:text-gray-400">
                        Si, puede contactar con nuestro equipo y le explicaremos los requisitos que debe cumplir para obtener una aplicación de ATHENDAT y hospedarla en sus propios servidores.
                    </p>
                </div>
                <div class="mb-10">
                    <h3 class="mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        ¿Puedo distribuir lod productos de ATHENDAT?
                    </h3>
                    <p class="mb-4 text-gray-600 dark:text-gray-400">
                        Si, para nuestro equipo es un placer que otros negocios o personan recomienden y comercialicen nuestros productos, solo debe contactarnos para recibir la capacitación correspondiente.
                    </p>
                </div>
            </div>
            <div>
                <div class="mb-10">
                    <h3 class="mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        ¿ATHENDAT solo desarrolla soluciones sin costo?</h3>
                    <p class="mb-4 text-gray-600 dark:text-gray-400">
                        Nuestro equipo es capaz de asumir el costo de un desarrollo siempre y cuando este no valla a ser utilizado con fines de lucro o sea para organizaciones que ofrecen servicios gratuitos.
                    </p>
                </div>
                <div class="mb-10">
                    <h3 class="mb-4 text-lg font-medium text-gray-900 dark:text-white">¿Realiza ATHENDAT desarrollos a nombre de terceros?</h3>
                    <p class="mb-4 text-gray-600 dark:text-gray-400">Si, nuestro equipo es capaz de asumir el desarrollo parcial o total de aplicaciones informáticas encargadas por terceras partes.</p>
                </div>
                <div class="mb-10">
                    <h3 class="mb-4 text-lg font-medium text-gray-900 dark:text-white">¿ATHENDAT acepta criptomonedas?</h3>
                    <p class="mb-4 text-gray-600 dark:text-gray-400">
                        Si, nuestro equipo cree firmemente las oportunidades que nos ofrecen todos los tipos de criptoactivos.
                    </p>
                </div>
                <div class="mb-10">
                    <h3 class="mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        ¿Puedo solicitarle a ATHENDAT solo un módulo o componente de sus aplicaciones?
                    </h3>
                    <p class="mb-4 text-gray-600 dark:text-gray-400">
                        Si, si esta desarrollando una aplicación y considera interesante utilizar una funcionalidad que posee alguno de nuestros productos puede contactar con nuestro equipo y solicitar una oferta.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>